@import url("horario.css");

:root {
    --destacado: #00adb5;
    --bg: #222831;
    --bg-destacado: #393e46;
    --text: #ffffff;
}

/*
var(--bg)
var(--bg-destacado)
var(--destacado)
var(--text)
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: var(--text);
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    display: inline-block;
    color: var(--destacado);
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--bg-destacado);
    border-radius: 5px;
    transition: all 0.3s;
}

.button:hover {
    background: var(--bg-destacado);
    border-color: var(--destacado);
}